@font-face {
  font-family: 'btec';
  src:  url('fonts/btec.eot?3lzc10');
  src:  url('fonts/btec.eot?3lzc10#iefix') format('embedded-opentype'),
    url('fonts/btec.ttf?3lzc10') format('truetype'),
    url('fonts/btec.woff?3lzc10') format('woff'),
    url('fonts/btec.svg?3lzc10#btec') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="btec-"], [class*=" btec-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'btec' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btec-arrow-down:before {
  content: "\e900";
}
.btec-arrow-down-2:before {
  content: "\e901";
  
}
.btec-arrow-left:before {
  content: "\e902";
}
.btec-arrow-left-2:before {
  content: "\e903";
  
}
.btec-arrow-right:before {
  content: "\e904";
}
.btec-arrow-right-2:before {
  content: "\e905";
  
}
.btec-arrow-up:before {
  content: "\e906";
}
.btec-arrow-up-2:before {
  content: "\e907";
}
.btec-home:before {
  content: "\e908";
}
.btec-cntt:before {
  content: "\e909";
}
.btec-close:before {
  content: "\e90a";
  
}
.btec-ico-qtkd:before {
  content: "\e90b";
}
.btec--tkdh:before {
  content: "\e90c";
}
.btec-pen:before {
  content: "\e90d";
  
}
.btec-phone:before {
  content: "\e90e";
  
}
.btec-star:before {
  content: "\e90f";
}
